<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du Lịch Việt Nam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    
</head>
<body>
    <nav>
        <div class="nav-logo">
                <a href="trangchu.html">
                    <img class="logo" src="../img/logo.jpg">
                </a>
        </div>
            <ul class="nav-link">
                <li class="link"><a href="trangchu.html"><b>Trang Chủ</b></a></li>
                <li class="link"><a href="mienbac.html"><b>Miền Bắc</b></a></li>
                <li class="link"><a href="mientrung.html"><b>Miền Trung</b></a></li>
                <li class="link"><a href="miennam.html"><b>Miền Nam</b></a></li>
                <li class="link"><a href="#"><b>Điểm Nổi Bật</b></a></li>
                <li class="link"><a href="#"><b>Holiday</b></a></li>
            </ul>
    </nav>
    
    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <p><input type="email" placeholder="Your email"></p>
                    </div>
                    <div class="div3">
                        <p><button class="sign-up-btn">Sign Up</button></p>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2><h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2></h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg">
                    <dd>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</dd>
                </div>
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
</body>